@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.navbar-nav {
  margin-left: 69%;
  font-weight: 400;
  font-family: 'Rubik', sans-serif; }

.nav-item {
  padding-left: 3%; }

.banner {
  width: 100%;
  opacity: 0.7;
  border-bottom: 3px solid black; }

.sectionUnoIndex h1 {
  font-size: 100px;
  text-align: left;
  color: black;
  z-index: 10000;
  position: absolute;
  margin-top: 18%; }

.sectionUnoIndex p {
  text-align: left;
  font-size: 23px;
  font-weight: 700;
  color: black;
  z-index: 10000;
  position: absolute;
  padding-right: 40%;
  margin-top: 24%;
  opacity: 1; }

.sectionDosIndex {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: "2fr 2fr"; }

.sectionDosIndex iframe {
  margin-bottom: 7%;
  margin-top: 7%;
  margin-left: 10%; }

.sectionDosIndex p {
  text-align: center;
  color: black;
  font-size: 40px;
  margin-top: 18%;
  margin-left: 35%;
  margin-bottom: 15%; }

#tituloGaleria {
  margin-left: 1%;
  font-size: 60px;
  margin-top: 3%;
  text-decoration: underline; }

.titulosGaleria {
  text-align: center;
  font-size: 45px;
  margin-top: 4%;
  margin-bottom: 4%; }

.galeria, .textil {
  display: grid;
  grid-template-columns: 30%;
  grid-template-rows: "1fr" "2fr" "1fr"    "2fr" "1fr"                                         "2fr";
  justify-content: center; }

.carouselBorder {
  border: 2px solid white;
  margin-bottom: 6%;
  margin-top: 6%; }

.imgGaleria {
  width: 40%; }

#imgdos {
  height: 570px;
  width: 40%; }

#tituloTextil {
  margin-left: 1%;
  font-size: 60px;
  margin-top: 3%;
  text-decoration: underline; }

.titulosTextil {
  text-align: center;
  font-size: 45px;
  margin-top: 4%;
  margin-bottom: 4%; }

#tituloMaquinaria {
  font-size: 60px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 6%;
  text-decoration: underline; }

.imgMaquinaria {
  width: 100%;
  height: 65%; }

.card {
  margin-left: 5%;
  margin-right: 5%; }

.card-group {
  margin-bottom: 3%; }

.tituloNosotros, .sectionDosNosotros h2 {
  text-align: center;
  font-size: 350%;
  margin-top: 2%;
  text-decoration: underline; }

.sectionUnoNosotros iframe {
  margin-left: 30%;
  margin-top: 2%; }

.sectionUnoNosotros p {
  text-align: center;
  color: black;
  font-size: 160%;
  margin-top: 1%; }

.sectionDosNosotros h2 {
  font-size: 160%;
  margin-top: 1.2%; }

.sectionDosNosotros p {
  text-align: center;
  color: black;
  font-size: 130%;
  margin-bottom: 2%;
  margin-top: 1%; }

.sectionDosNosotros ul {
  list-style: none;
  list-style-type: none; }

.sectionUnoContacto {
  margin-bottom: 2%; }

.sectionUnoContacto h1 {
  text-align: center;
  font-size: 300%;
  margin-top: 1%; }

.sectionUnoContacto p {
  text-align: center;
  font: size 110%;
  margin-top: 1%; }

.sectionDosContacto h2 {
  text-align: center; }

.btn {
  margin-top: 1%;
  margin-bottom: 1%; }

footer {
  background-color: #2d2c2d;
  text-align: center; }

.footer p {
  color: white;
  font-size: 125%;
  padding-top: 1%; }

i {
  color: white;
  font-size: 40px;
  padding-left: 1%; }

i:hover {
  color: orange; }

* {
  margin: 0;
  padding: 0; }

body {
  background-image: linear-gradient(to bottom, #ff9735, #f6d7b8, #ff9735);
  font-weight: 600; }

main {
  font-family: 'Rubik', sans-serif;
  font-weight: 300; }

@media only screen and (max-width: 800px) {
  main {
    min-height: 71.5vh; }
  .banner {
    height: 300px; }
  .sectionUnoIndex h1 {
    font-size: 200%; }
  .sectionUnoIndex p {
    font-size: 93%;
    margin-top: 30%;
    margin-left: 2%; }
  .sectionDosIndex {
    display: grid;
    grid-template-columns: 77%;
    grid-template-rows: "1fr" "1fr"; }
  iframe {
    width: 100%;
    margin-left: 0%; }
  .sectionDosIndex p {
    text-align: center;
    font-size: 147%; }
  .galeria, .textil {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: "1fr" "1fr" "1fr"    "1fr" "1fr"                                         "1fr";
    justify-content: center;
    row-gap: 0%; }
  #imgdos {
    width: 269px;
    height: 269px; }
  .textil {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: "1fr" "1fr" "1fr"    "1fr" "1fr"                                         "1fr";
    justify-content: center;
    row-gap: 0%; }
  .img {
    width: 70%;
    margin-bottom: 0%;
    border: 2px solid black;
    height: 70%; }
  .sectionUnoNosotros iframe {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%; }
  .sectionUnoNosotros p {
    font-size: 120%;
    margin-top: 3%;
    margin-bottom: 3%; }
  .sectionDosNosotros h2 {
    font-size: 180%;
    margin-bottom: 4%; }
  .sectionDosNosotros p {
    margin-bottom: 6%; }
  .sectionUnoContacto {
    margin-bottom: 5%; }
  .sectionUnoContacto p {
    font-size: 120%;
    margin-bottom: 4%; }
  .sectionDosContacto h1 {
    margin-bottom: 8%; }
  .footer p {
    display: flex;
    justify-content: center; } }

@media only screen and (max-width: 1024px) {
  #navbarNavAltMarkup {
    margin-right: 30%; }
  .sectionUnoIndex p {
    margin-top: 30%; }
  .sectionDosIndex {
    display: grid;
    grid-template-columns: 74%;
    grid-template-rows: "1fr" "1fr"; }
  .sectionDosIndex iframe {
    margin-left: 20%;
    margin-bottom: 2%; }
  #imgdos {
    width: 303px;
    height: 303px; }
  .sectionUnoNosotros iframe {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%; } }
