@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;    
}

body{
    background-image:linear-gradient(to bottom, rgb(255, 151, 53),rgb(246, 215, 184),rgb(255, 151, 53));
    font-weight: 600;
}


main{
    font-family: 'Poppins', sans-serif;
}

/*COMIENZO DEL NAV*/
.navbar-nav{
    margin-left: 20%;
}

.nav-item{
    padding-left: 6%;
}
/*FIN DEL NAV*/


/*COMIENZO DEL INDEX*/
#banner{
    width: 100%;
    opacity: 0.7;
    border-bottom: 3px solid rgb(0, 0, 0);
}

.sectionUnoIndex h1{
    font-size: 100px ;
    text-align: left;
    color:black;
    z-index: 10000;
    position: absolute;
    margin-top: 18%;
}
    
.sectionUnoIndex p{
    text-align: left;
    font-size: 23px;
    font-weight: 700;
    color: black;
    z-index: 10000;
    position: absolute;
    padding-right: 40%;
    margin-top: 24%;
    opacity: 1;
}


.sectionDosIndex {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: "2fr 2fr" ;
    
}

.sectionDosIndex iframe{
   margin-bottom: 7%;
   margin-top: 7%;
    margin-left: 10%;
}


.sectionDosIndex p{
    text-align: center;
    color:black;
    font-size: 40px;
    margin-top: 18%;
    margin-left: 35%;
    margin-bottom: 15%;
}
/*FIN DEL INDEX*/

/*COMIENZO GALERIA*/

#tituloGaleria{
    margin-left: 1%;
    font-size: 60px;
    margin-top: 3%;
    text-decoration: underline;
}

.titulosGaleria{
    text-align: center;
    font-size: 45px;
    margin-top: 4%;
    margin-bottom: 4%;
}



.galeria{
    display: grid;
    grid-template-columns:30%;
    grid-template-rows:     "1fr"
                            "2fr"
                            "1fr"   
                            "2fr"
                            "1fr"                                        
                            "2fr";
    justify-content: center;

    
}

.carouselBorder{
    border: 2px solid white;
    margin-bottom: 6%;
    margin-top: 6%;
}


#imgdos{
    height: 570px;
}

#tituloTextil{
    margin-left: 1%;
    font-size: 60px;
    margin-top: 3%;
    text-decoration: underline;
    text-align: start;
}

.titulosTextil{
    text-align: center;
    font-size: 45px;
}

.textil{
    display: grid;
    grid-template-columns:30%;
    grid-template-rows:     "1fr"
                            "2fr"
                            "1fr"   
                            "2fr"
                            "1fr"                                        
                            "2fr";
    justify-content: center;
    
}


/*FIN GALERIA*/

/* COMIENZO MAQUINARIA */

#tituloMaquinaria{
    font-size: 60px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 8%;
    text-decoration: underline ;
}
 
.img{
    width: 460px;
    height: 400px;
    margin-bottom: 8%;
    border: 2px solid black;
}

/* FIN MAQUINARIA */

/*COMIENZO NOSOTROS*/
#tituloNosotros{
    text-align: center;
    font-size: 350%;
    margin-top: 2%;
    text-decoration: underline;
}


.card{
    text-align: center;
    margin-left:32% ;
}



.sectionDosNosotros h2{
   text-align: center;
   font-size: 160%;
   margin-top: 1.2%;
}

.sectionDosNosotros p{
    text-align: center;
    color:black;
    font-size: 130%;
    margin-bottom: 2%;
    margin-top: 1%;
}

.sectionDosNosotros ul{
    list-style: none;
    list-style-type: none;
}
/*FIN NOSOTROS*/

/*COMIENZO CONTACTO*/
.sectionUnoContacto{
    margin-bottom: 2%;
}

.sectionUnoContacto h1{
    text-align: center;
    font-size: 300%;
    margin-top: 1%;
    text-decoration: underline;
}

.sectionUnoContacto p{
    text-align: center;
    padding-top: 1%;
    font-size: 110%;
}

.sectionDosContacto h2{
    text-align: center;
}

.btn{
    margin-top: 1%;
    margin-bottom: 1%;
}

/*FIN CONTACTO*/

/*COMIENZO DEL FOOTER*/
footer{
    background-color: #27252a ;
    text-align: center;
    
}

.footer p{
    color: white;
    font-size: 125%;
    padding-top: 1%;    
}

i{
    color: white;
    font-size: 40px;
    padding-left: 1%;
}

i:hover{
    color: orange;
}

/*FIN DEL FOOTER*/

/*MEDIAQUERIES*/
@media only screen and (max-width: 800px){
        
        main{
            min-height: 71.5vh;
        }
    
        .nav img{
            height: 50%;
            width: 50%;
        }

        .sectionUnoIndex h1{
            font-size: 450%;
        }    

        .sectionDosIndex{
            display: grid;
            grid-template-columns: 80%;
            grid-template-rows: "1fr"
                                "1fr";
        }

        iframe{
            width: 110%;
        }
        
        .sectionDosIndex p{
            text-align: center;
            font-size: 110%;
        }

        .galeria{
            row-gap: 40%;
        }

        .imgGalerias{
            width: 90%;
            
        }

        .textil{
            row-gap: 40%;
        }

        .imgTextil{
            width: 90%;
        }

        .sectionUnoNosotros iframe{
            width: 90%;
            margin-left: 5%;
            margin-top:2%;
        }
        .sectionUnoNosotros p{
                font-size: 120%;
                margin-top: 3%;
                margin-bottom: 3%;
            }

        .sectionDosNosotros h2{
                font-size: 180%;
                margin-bottom: 4%;
        }    

        .sectionDosNosotros p{
            margin-bottom: 6%;
        }

        .sectionUnoContacto{
            margin-bottom: 5%;
        }

        .sectionUnoContacto p{
            font-size: 120%;
            margin-bottom: 4%;
        }

        .sectionDosContacto h1{
            margin-bottom: 8%;
        }

       .footer p{
           display: flex;
           justify-content: center;
       }
        
       #facebook{
           padding-left: 0%;
           margin-left:35% ;
       }

       #logoWhatsapp{
           width: 13%;
       }
}
/* FIN DE MEDIAQUERIES */


