.sectionUnoContacto{
    margin-bottom: 2%;
}

@mixin estiloContacto {
    text-align: center;
    font-size: $tamañoLetra;
    margin-top: 1%;
}

.sectionUnoContacto h1{
    @include estiloContacto(300%)
}

.sectionUnoContacto p{
    @include estiloContacto(110%)
}

.sectionDosContacto h2{
    text-align: center;
}

.btn{
    margin-top: 1%;
    margin-bottom: 1%;
}