.sectionUnoContacto{
    margin-bottom: 2%;
}

.sectionUnoContacto h1{
    text-align: center;
    font-size: 300%;
    margin-top: 1%;
}

.sectionUnoContacto p{
    text-align: center;
    font: size 110%;;
    margin-top: 1%;
}

.sectionDosContacto h2{
    text-align: center;
}

.btn{
    margin-top: 1%;
    margin-bottom: 1%;
}