footer{
    background-color:map-get($map: $colores, $key:bg );
    text-align: center;
    
}

.footer p{
    color:map-get($map: $colores, $key:secundario );
    font-size: 125%;
    padding-top: 1%;    
}

i{
    color:map-get($map: $colores, $key:secundario );
    font-size: 40px;
    padding-left: 1%;
}

i:hover{
    color: map-get($map:$colores , $key:footer-hover)
}