footer{
    background-color:#2d2c2d ;
    text-align: center;
    
}

.footer p{
    color:white;
    font-size: 125%;
    padding-top: 1%;    
}

i{
    color:white;
    font-size: 40px;
    padding-left: 1%;
}

i:hover{
    color:orange;
}