#tituloGaleria{
    margin-left: 1%;
    font-size: 60px;
    margin-top: 3%;
    text-decoration: underline;
}

.titulosGaleria{
    text-align: center;
    font-size: 45px;
    margin-top: 4%;
    margin-bottom: 4%;
}



.galeria{
    display: grid;
    grid-template-columns:30%;
    grid-template-rows:     "1fr"
                            "2fr"
                            "1fr"   
                            "2fr"
                            "1fr"                                        
                            "2fr";
    justify-content: center;
}

.carouselBorder{
    border: 2px solid white;
    margin-bottom: 6%;
    margin-top: 6%;
}

.imgGaleria{
    width: 40%;
}

#imgdos{
    height: 570px;
    width: 40%;
}

#tituloTextil{
    margin-left: 1%;
    font-size: 60px;
    margin-top: 3%;
    text-decoration: underline;
}

.titulosTextil{
    text-align: center;
    font-size: 45px;
    margin-top: 4%;
    margin-bottom: 4%;
}

.textil{
    @extend .galeria;
    
}


