.tituloNosotros{
    text-align: center;
    font-size: 350%;
    margin-top: 2%;
    text-decoration: underline;
}


.sectionUnoNosotros iframe{
    margin-left: 30%;
    margin-top: 2%;
}

.sectionUnoNosotros p{
    text-align: center;
    color:black;
    font-size: 160%;
    margin-top: 1%;
}

.sectionDosNosotros h2{
    @extend .tituloNosotros;
   font-size: 160%;
   margin-top: 1.2%;
  
}

.sectionDosNosotros p{
    text-align: center;
    color:black;
    font-size: 130%;
    margin-bottom: 2%;
    margin-top: 1%;
}

.sectionDosNosotros ul{
    list-style: none;
    list-style-type: none;
}