#tituloNosotros{
    text-align: center;
    font-size: 350%;
    margin-top: 2%;
    text-decoration: underline;
}


.card{
    text-align: center;
    margin-left:32% ;
}



.sectionDosNosotros h2{
   text-align: center;
   font-size: 160%;
   margin-top: 1.2%;
}

.sectionDosNosotros p{
    text-align: center;
    color:black;
    font-size: 130%;
    margin-bottom: 2%;
    margin-top: 1%;
}

.sectionDosNosotros ul{
    list-style: none;
    list-style-type: none;
}